body,
nav {
  transition: background 0.2s linear;
}

.search {
  border: 3px solid white;
}
.dropdown-item-light {
  color: black;
}
.dropdown-item-light:hover {
  background: #0d6efd;
  color: white;
}
.dropdown-item-dark {
  color: rgb(255, 255, 255);
}
.dropdown-item-dark:hover {
  background: #3a4048;
  color: white;
}

.card {
  height: 480px;
}
.card-img-top {
  height: 200px;
}

.badge {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
}

.spinner {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinnerLarge {
  height: 200px;
}

.mgtop {
  margin-top: 6rem;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*dark mode toggle button*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox-label {
  background-color: #3712a9;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-moon {
  color: #f39c12;
}
.fa-sun {
  color: #f39c12;
}
.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
.support {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}
.support a:hover {
  transform: scale(1.1);
}

/* Scrollbar*/

#style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

#style-7::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-7::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

#style-8::-webkit-scrollbar-track {
  border: 1px solid #131313;
  background-color: #151515;
}

#style-8::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-8::-webkit-scrollbar-thumb {
  background-color: grey;
}

/* About us Section */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.About {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Aboutcontainer {
  width: 90%;
  height: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 60px;
  padding: 35px 0;
}
.contentLeft,
.contentRight {
  width: 100%;
}
.contentLeft .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.contentLeft .row .imgWrapper {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.contentLeft .row .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  transition: 0.3s ease;
}
.contentLeft .row .imgWrapper:hover img {
  transform: scale(1.5);
}
.contentLeft .row .imgWrapper:nth-child(odd) {
  transform: translateY(-20px);
}
.contentLeft .row .imgWrapper:nth-child(even) {
  transform: translateY(20px);
}
.contentRight .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.contentRight .content h4 {
  font-size: 22px;
  font-weight: 400;
  color: #007bff;
}
.contentRight .content h2 {
  font-size: 40px;
  color: #1e272e;
}
.contentRight .content p {
  font-size: 16px;
  color: #343434;
  line-height: 28px;
  padding-bottom: 10px;
}
.contentRight .content a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 30px;
  color: #fff;
  background: #007bff;
  border-radius: 8px;
  user-select: none;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .contentLeft .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .contentLeft .row .imgWrapper {
    height: 150px;
  }
  .contentRight .content h4 {
    font-size: 18px;
  }
  .contentRight .content h2 {
    font-size: 30px;
  }
}

/* Search css*/
.barra {
  width: 100%;
  position: relative
}
.buscar-light{
  margin-bottom: 1.5rem;
  float: left;
  width: 100%;
  border: 3px solid #007bff;
  padding: 18px;
  height: 34px;
  border-radius: 25px;
  outline: none;
  color: black;
}
.buscar-dark{
  margin-bottom: 1.5rem;
  float: left;
  width: 100%;
  border: 3px solid #16778C;
  padding: 18px;
  height: 34px;
  border-radius: 25px;
  outline: none;
  color: white;
  background-color: #181818;
}

.search_icon{
  position: absolute;
  top: 13px;
  right: 16px;
  width: 20px;
  height: 36px;
  text-align: center;
  color: #007bff;
  font-size: 15px;
}
.wrap{
  width: 100%;
}